@media (width < 620px) {
    .programa_container{
        flex-direction: column;
    }

    .charlas{
        min-height: 100px;
        width: 100%;
        justify-content: start;
    }
}


@media (width < 600px) {
    .programa_botonera{
        overflow-x: auto;
        justify-content: flex-start;
        scrollbar-width: 0px;
    }
}



@media (width < 540px) {
    .navegacion_container{
        display: none;
    }

    .bienvenida_botonera{
        flex-direction: column;
        gap: 1.5em;
    }

    .bienvenida_description{
        width: 80%;
    }

    .bienvenida_redirecciones{
        max-width: none;
        width: 90%;
    }

    /* PROGRAMA */
    .programa_description{
        width: 80%;
    }
}